header {
    color: #44e2d2;
    font-family: "Skranji", system-ui;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
}
body {
    color: #151515;
    font-family: "Skranji", system-ui;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.contenedor {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
ul {
    color: #151515;
    list-style-type: none;
    margin: 0;
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding-block-end: 50px;
    display: flex;
}
li {
            margin: 15px;
            width: 100px;         
            background-color: #f9f9f9; 
            border: 2px solid #ccc; 
            border-radius: 5px;
            padding: 20px; 
            justify-content: center;
}
textarea[name="user-input"] {
    width: 60%;
    height: 150px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    resize: vertical;
} 
button {
    margin-top:15px;
    width: 200px;
    height:30px;
    background-color:#44e2d2;
    color: white;
    border: 1px solid;
    border-radius: 15px;
  }